<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1 "/>
		<meta name="description" content="{{ page.description }}" />
		<meta name="keywords" content="desenvolvimento,web,mobile,ideias,.NET,{{page.keywords | join: ','}}" />

		{% assign separador = "" %}
		{% if page.title %}
			{% assign separador = " - " %}
		{% endif %}
		<title>Edegilson Sousa{{ separador }}{{ page.title }}</title>

		<link rel="stylesheet" href="/css/site.css" type="text/css"/>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-33573366-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

	</head>

	<body>
		<div class="topo">
			<div class="topo_content">
				<ul>
					<!--<li><a href="/about/">me</a></li>-->
					<li><a href="http://twitter.com/edegilsoned" target="_blank">twitter</a></li>
					<li><a href="http://github.com/edegilson" target="_blank">github</a></li>
					<li class="feed"><a href="/atom.xml">Feed</a></li>
				</ul>
			</div>
		</div>
		<a href="https://github.com/Edegilson/edegilson.github.com" target="_blank">
			<img style="position: fixed; top: 0; left: 0; border: 0;" 
				src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" 
				alt="Fork me on GitHub">
		</a>
		<div id="blog_content">
			<div id="title">
			  <h1 class="title"><a href="/">{ 'Edegilson Sousa' };</a></h1>
			  <p class="title_contents">
				tecnologia, desenvolvimento .Net, mobile, e mais..
			  </p>
			</div>
			<div id="blog_content">
				<div id="post">
					{{ content }}
				</div>
			</div>
		</div>
		<div class="footer"></div>
	</body>
</html>